<div class="task-form-container">
  <h2>Agregar Tarea</h2>
  <form autocomplete="off" [formGroup]="taskForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="description">Descripcion</label>
      <input type="text" formControlName="description" placeholder="Ingresa la descripcion de la tarea"/>
    </div>

    <div class="form-group">
      <label for="priority">Prioridad</label>
      <input type="number" formControlName="priority" placeholder="Ingrese el numero de prioridad"/>
    </div>

    <button type="submit" [disabled]="taskForm.invalid" class="login-button">Crear tarea</button>
  </form>
</div>





