<app-nav-bar [isUser]="false"></app-nav-bar>

<div>
  <section class="hero">
    <h2>Organiza tu vida con nuestra aplicación de tareas</h2>
    <p>
      Administra tus tareas diarias de manera eficiente y nunca olvides una
      tarea importante.
    </p>
    <a href="#download" class="cta-button">Descargar Ahora</a>
  </section>

  <section class="features" id="features">
    <h3>Características Principales</h3>
    <div class="feature">
      <img src="task-icon.png" alt="Icono de tarea" />
      <h4>Gestión de Tareas</h4>
      <p>
        Organiza tus tareas, asigna prioridades y realiza un seguimiento de tu
        progreso.
      </p>
    </div>
    <div class="feature">
      <img src="notification-icon.png" alt="Icono de notificación" />
      <h4>Recordatorios</h4>
      <p>
        Recibe recordatorios y notificaciones para no olvidar ninguna tarea
        importante.
      </p>
    </div>
    <div class="feature">
      <img src="sync-icon.png" alt="Icono de sincronización" />
      <h4>Sincronización</h4>
      <p>
        Sincroniza tus tareas en todos tus dispositivos para acceder a ellas en
        cualquier momento.
      </p>
    </div>
  </section>

  <section class="download" id="download">
    <h3>Descarga Nuestra App</h3>
    <p>¡Mejora tu productividad y mantén tus tareas bajo control!</p>
    <a href="enlace-a-tu-aplicacion" class="cta-button">Descargar Ahora</a>
  </section>

  <section class="contact" id="contact">
    <h3>Contacto</h3>
    <p>¿Tienes alguna pregunta o comentario? Contáctanos:</p>
    <p>email: contacto@appdetareas.com</p>
  </section>
</div>
