/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Encabezado */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff5733;
}

/* Hero */
.hero {
  text-align: center;
  padding: 80px 0;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ff5733;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #ff341a;
}

/* Características */
.features {
  text-align: center;
  padding: 40px 0;
  background-color: #fff;
}

.features h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.feature {
  margin-bottom: 40px;
}

.feature img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.feature h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Descarga */
.download {
  text-align: center;
  padding: 60px 0;
  background-color: #333;
  color: #fff;
}

.download h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.download p {
  font-size: 18px;
  margin-bottom: 40px;
}

/* Contacto */
.contact {
  text-align: center;
  padding: 40px 0;
  background-color: #fff;
}

.contact h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact p {
  font-size: 18px;
  margin-bottom: 20px;
}


/* Media queries para dispositivos móviles */
@media (max-width: 768px) {

  .hero h2 {
      font-size: 28px;
  }

  .hero p {
      font-size: 16px;
  }

  .cta-button {
      padding: 10px 20px;
      font-size: 16px;
  }

  .feature img {
      width: 60px;
      height: 60px;
  }

  .feature h4 {
      font-size: 16px;
  }

  .download h3 {
      font-size: 24px;
  }

  .download p {
      font-size: 16px;
  }

  .contact h3 {
      font-size: 20px;
  }

  .contact p {
      font-size: 16px;
  }
}
